{% extends "avisappadminBundle:Layers:basePrincipal.html.twig" %}
{% block title%} Listar Slider {% endblock%}
{% block padre %}<a href="{{path('admin_slider_new')}}">Crear Slider</a>{% endblock %}
{% block hijo %} Listar Slider {%endblock%}
{% block titulo %} Listar Slider {%endblock %}
{% block contenido %}
    {{ form(edit_form) }}
    <br/>
    {{ form(delete_form) }}
</ul>
{% endblock %}
