{% extends "avisappadminBundle:Layers:basePrincipal.html.twig" %}
{% block title%} Agregar Slider {% endblock%}
{% block padre %}<a href="{{path('admin_slider')}}">Listar Slider</a>{% endblock %}
{% block hijo %} Agregar Slider {%endblock%}
{% block titulo %} Agregar Slider {%endblock %}
{% block contenido %}
<div class="horizontal-form">
    {{ form(form) }}
</div>
{% endblock %}
