{# empty Twig template #}
{# empty Twig template #}

<div class="cl-sidebar">
     <div class="cl-toggle"><i class="fa fa-bars"></i></div>
     <div class="cl-navblock">
       <ul class="cl-vnavigation">
         <li><a href="{{path('vistaPrincipal')}}"><i class="fa fa-home"></i>Principal</a></li>
    
         <!-- Crud Articulo -->
         <li><a href="#"><i class="fa fa-list-alt"></i>Usuarios </a>
           <ul class="sub-menu">
               
                             
             <li><a href="{{path('usuario_new')}}">Agregar Usuario</a></li>
             <li><a href="#">Listar Usuarios / Editar /  Eliminar</a></li>
 
             
           </ul>
         </li>
         <!-- Crud Articulo -->
         
         
         </li>
         <li><a href="#"><i class="fa fa-list-alt"></i>Categorias</a>
           <ul class="sub-menu">
               
                             
             <li><a href="#">Agregar Categorías</a></li>
             <li><a href="#">Listar Categorías / Editar /  Eliminar</a></li>
 
             
           </ul>
         </li>
         
         
           <li><a href="#"><i class="fa fa-list-alt"></i>Productos</a>
           <ul class="sub-menu">
               
                             
             <li><a href="#">Agregar Productos </a></li>
             <li><a href="#">Listar Productos  / Editar /  Eliminar</a></li>
 
           </ul>
         </li>
         
         
         
           <li><a href="#"><i class="fa fa-list-alt"></i>Fotos Slider</a>
           <ul class="sub-menu">
               
                             
             <li><a href="#">Agregar Fotos Slider</a></li>
             <li><a href="#">Fotos Slider  / Editar /  Eliminar</a></li>
 
           </ul>
         </li>
         
         
         <!-- Menu Banner2 -->
         <li><a href="#"><i class="fa fa-list-alt"></i>Banner Fijo</a>
         <ul class="sub-menu">
             <li><a href="#">Agregar Banner Fijo</a></li>
             <li><a href="#">Banner Fijo / Editar /  Eliminar</a></li>
         </ul>
         </li>
        
         <li><a href="#"><i class="fa fa-list-alt"></i>Calugas Articulos </a>
         <ul class="sub-menu">
            <li><a href="#">Agregar Caluga</a></li>
             <li><a href="#">Calugas / Editar /  Eliminar</a></li>
         </ul>
        </li>
        <!-- Menu Caluga -->
      </ul>
    </div>
   </div>