{% extends "avisappadminBundle:Layers:basePrincipal.html.twig" %}
{% block title%} Editar Que es {% endblock%}
{% block padre %}<a href="{{path('admin_caluga')}}">Listar Calugas</a>{% endblock %}
{% block hijo %} Editar Caluga {%endblock%}
{% block titulo %} Editar Caluga {%endblock %}
{% block contenido %}

sadasdasdasdads



    <h1>TextoQuees edit</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_textoquees') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>


{% endblock %}


