{% extends "avisappadminBundle:Layers:basePrincipal.html.twig" %}
{% block title%} Editar Usuario {% endblock%}
{% block padre %}<a href="{{path('usuario')}}">Listar Usuarios</a>{% endblock %}
{% block hijo %} Editar Usuario {%endblock%}
{% block titulo %} Editar Usuario {%endblock %}
{% block contenido %}
<div class="horizontal-form">
    {{ form(edit_form) }}
</div>
{% endblock %}
